# Virtual environment
tf_env/

# Pretrained embeddings (VERY LARGE)
glove.6B/

# Dataset (optional but recommended)
Data/

# Python cache
__pycache__/
*.pyc
*.zip
*.bin
*.h5
*.onnx
glove.6B*
data/*.csv